ul{
    list-style-type: none;
    height: 30px;
}
li{
    float:left;
    
}
div{
    height: 200px;
    border: 1px solid #000000;
    border-radius: 10px;
}
a:link {
    background-color: #FFFFFF;
    width: 90px;
    color: #000000;
    padding: 10px 10px ;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 25px;
}
a:hover {
    background-color: #0c620c;
    color: #FFFFFF;
}  
#menubar{
    background-color: #87240b;
    height: 60px;
    border: 1px solid;
}
#footer{
    height: 60px;
    width: 1220px;
    border: 1px solid;
    position: fixed;
    bottom: 0px;
}
.imgdiv{
    border: 1px solid #000000;
    width: 300px;
    height: 200px;
    
}
main{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}
img{
    width: 299px;
    height: 199px;
    border-radius: 10px;
}